/* @import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css"; */


.carousel {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    padding: 20px;
    gap: 20px; /* Space between cards */
    scroll-snap-type: x mandatory;
  }
  
  .carousel::-webkit-scrollbar {
    display: none; /* Hide scrollbar for webkit browsers */
  }
  
  .card {
    scroll-snap-align: center;
    flex: 0 0 auto; /* Ensure cards don't shrink or grow */
  }
  
  .carousel-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px;
    gap: 10px;
  }
  
  .carousel-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for webkit browsers */
  }
  